/* Dark Theme */
body.dark-theme {
  background: #121212;
  color: #e0e0e0;
}

body.dark-theme .container {
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

body.dark-theme input,
body.dark-theme textarea {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
  border-color: rgba(255, 255, 255, 0.2);
}

body.dark-theme input::placeholder,
body.dark-theme textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}


